<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnrealPakGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnrealPakGUI.Properties.Settings>
            <setting name="EngineDir" serializeAs="String">
                <value />
            </setting>
            <setting name="CryptoFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="bUseEncryption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatchOutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="bContentOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAsPatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bFolderPak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bUseCompression" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtractToDir" serializeAs="String">
                <value />
            </setting>
        </UnrealPakGUI.Properties.Settings>
    </userSettings>
</configuration>